@import url(./main.css);
.body {
  background-color: rgba(255, 253, 243, 1);
}
.header {
  background-color: rgba(255, 255, 255, 1);
  padding: 16px 24px;
  border-top: 1px solid rgba(241, 241, 241, 1);
  border-bottom: 1px solid rgba(241, 241, 241, 1);
  box-shadow: 4px 8px 12px rgba(62, 67, 74, 0.15);
}
.logo {
  width: 152px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 922px;
}
.container {
  width: 320px;
  height: 866px;
  background-color: rgba(255, 255, 255, 1);
  padding: 20px;
  border: 1px solid rgba(241, 241, 241, 1);
  border-radius: 4px;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  gap: 10px;
}
.title h1 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  color: rgba(34, 35, 37, 1);
}
.subtitle {
  color: rgba(51, 51, 51, 0.68);
  font-size: 14px;
  letter-spacing: 0.2px;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.form label {
  font-size: 14px;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
}
.form input {
  width: 280px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid rgba(241, 241, 241, 1);
  margin-top: 4px;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 1);
}
.form select {
  width: 280px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid rgba(241, 241, 241, 1);
  margin: 4px 0px 15px 0px;
  padding: 10px;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 1);
  appearance: none;
  background-image: url(../images/ikon-panah.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
}

select option {
  color: rgba(51, 51, 51, 1);
}
.flag {
  width: 44px;
  position: relative;
  background-color: rgba(244, 245, 250, 1);
}
.flag-icon {
  position: absolute;
  top: 13px;
  left: 10px;
}
.code-religion > select {
  margin-left: 0px;
}
.code-religion {
  position: relative;
}
.number {
  position: absolute;
  top: 0px;
  left: 135px;
}
.form input::placeholder {
  color: rgba(51, 51, 51, 0.68);
}

.form a {
  text-align: right;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.2px;
  margin-top: 10px;
}
.forgot-the-pass {
  text-align: right;
}
#forgot-password {
  color: rgba(51, 51, 51, 0.68);
  cursor: pointer;
}
.input {
  margin-bottom: 15px;
}
.form-password {
  position: relative;
}
.eye {
  width: 16px;
  position: absolute;
  right: 10px;
  bottom: 27px;
  cursor: pointer;
}
.star {
  color: red;
}
.form button {
  width: 280px;
  height: 34px;
  border-radius: 10px;
  border: 1px solid rgba(241, 241, 241, 1);
  margin-top: 20px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.2px;
}
.button-login {
  background-color: rgba(62, 207, 76, 1);
  color: rgba(255, 255, 255, 1);
  line-height: 140%;
}
.button-register {
  background-color: rgba(226, 252, 217, 0.8);
  line-height: 140%;
}
button {
  cursor: pointer;
}
#register {
  color: rgba(62, 207, 76, 1);
}
.or {
  position: relative;
  top: 10px;
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2px;
  color: rgba(51, 51, 51, 0.68);
}
.or-text {
  display: inline-block;
  background-color: rgba(255, 255, 255, 1);
  padding: 2px 8px;
}
.login-with-google {
  line-height: 140%;
  background-color: white;
  color: rgba(74, 80, 92, 1);
}
.button-signin-with-google {
  position: relative;
}
#google-icon {
  position: absolute;
  width: 18px;
  left: 35px;
  bottom: 7px;
}
